In [1]:
import numpy as np
import pandas as pd
from collections import defaultdict
import operator
from utils import *

https://www.kaggle.com/datasets/junyiacademy/learning-activity-public-dataset-by-junyi-academy

In [2]:
bath_path = '/mnt/qb/work/mlcolab/hzhou52/kt/junyi20/'

content = pd.read_csv(bath_path+'Info_Content.csv', encoding = "utf-8",low_memory=False) 
userdata = pd.read_csv(bath_path+'Info_UserData.csv', encoding = "utf-8",low_memory=False)
original_log = pd.read_csv(bath_path+'Log_Problem.csv', encoding = "utf-8",low_memory=False)

In [9]:
print('###########################################')
print('The columns of log are ', content.columns)
print('The length of log is {}'.format(len(content)))

print('###########################################')

print(count_unique(content, content.columns))
content.head()

###########################################
The columns of log are  Index(['ucid', 'content_pretty_name', 'content_kind', 'difficulty', 'subject',
       'learning_stage', 'level1_id', 'level2_id', 'level3_id', 'level4_id'],
      dtype='object')
The length of log is 1330
###########################################
Number of unique values in ucid: 1330
Number of unique values in content_pretty_name: 1320
Number of unique values in content_kind: 1
Number of unique values in difficulty: 4
Number of unique values in subject: 1
Number of unique values in learning_stage: 3
Number of unique values in level1_id: 1
Number of unique values in level2_id: 10
Number of unique values in level3_id: 42
Number of unique values in level4_id: 171
None

,ucid,content_pretty_name,content_kind,difficulty,subject,learning_stage,level1_id,level2_id,level3_id,level4_id
0,odIwFdIiecFwVUAEEV40K3MSuCSlIZkbq92Zp9tkZq8=,【基礎】怎樣解題：數量關係,Exercise,easy,math,elementary,aH0Dz0KdH9gio7rrcGRHvrmd9vcd/0WJbeEFB7qeUKA=,ICgke8JJv5eapCPwyj1aco8PEtoBkUbTZYIqxmYtqBk=,bo3jsx1beVLEZ+2sckxdZNYnlLpVS7hb5lWU2baQ66k=,KPJMQebU0O24+NzlQ4udb2BXLlKV1Hte61+hV5Xb+oU=
1,dfeeBaa8zDhWS6nu7zeXKwLyi4zqEajI3tJM9/fSBPM=,【基礎】和差問題 1,Exercise,easy,math,elementary,aH0Dz0KdH9gio7rrcGRHvrmd9vcd/0WJbeEFB7qeUKA=,ICgke8JJv5eapCPwyj1aco8PEtoBkUbTZYIqxmYtqBk=,bo3jsx1beVLEZ+2sckxdZNYnlLpVS7hb5lWU2baQ66k=,KPJMQebU0O24+NzlQ4udb2BXLlKV1Hte61+hV5Xb+oU=
2,C2AT0OBTUn+PRxEVd39enhW/DJtka1Tk90DUAR6yVdA=,【基礎】雞兔問題 1,Exercise,easy,math,elementary,aH0Dz0KdH9gio7rrcGRHvrmd9vcd/0WJbeEFB7qeUKA=,ICgke8JJv5eapCPwyj1aco8PEtoBkUbTZYIqxmYtqBk=,bo3jsx1beVLEZ+2sckxdZNYnlLpVS7hb5lWU2baQ66k=,KPJMQebU0O24+NzlQ4udb2BXLlKV1Hte61+hV5Xb+oU=
3,jZvYpEa6VB/WrlKKmQHnfbv/xJ4OypBzq0epVcn500Q=,【基礎】年齡問題 1,Exercise,easy,math,elementary,aH0Dz0KdH9gio7rrcGRHvrmd9vcd/0WJbeEFB7qeUKA=,ICgke8JJv5eapCPwyj1aco8PEtoBkUbTZYIqxmYtqBk=,bo3jsx1beVLEZ+2sckxdZNYnlLpVS7hb5lWU2baQ66k=,KPJMQebU0O24+NzlQ4udb2BXLlKV1Hte61+hV5Xb+oU=
4,M+UxJPgRIW57a0YS3eik8A9YDj+AwaMpTa5yWYn/kAw=,【基礎】追趕問題,Exercise,easy,math,elementary,aH0Dz0KdH9gio7rrcGRHvrmd9vcd/0WJbeEFB7qeUKA=,ICgke8JJv5eapCPwyj1aco8PEtoBkUbTZYIqxmYtqBk=,bo3jsx1beVLEZ+2sckxdZNYnlLpVS7hb5lWU2baQ66k=,KPJMQebU0O24+NzlQ4udb2BXLlKV1Hte61+hV5Xb+oU=

In [17]:
content.loc[content.ucid == 'aH0Dz0KdH9gio7rrcGRHvrmd9vcd/0WJbeEFB7qeUKA=	']

Empty DataFrame
Columns: [ucid, content_pretty_name, content_kind, difficulty, subject, learning_stage, level1_id, level2_id, level3_id, level4_id]
Index: []

In [10]:
print('###########################################')
print('The columns of log are ', userdata.columns)
print('The length of log is {}'.format(len(userdata)))

print('###########################################')

print(count_unique(userdata, userdata.columns))

userdata.head()

###########################################
The columns of log are  Index(['uuid', 'gender', 'points', 'badges_cnt', 'first_login_date_TW',
       'user_grade', 'user_city', 'has_teacher_cnt', 'is_self_coach',
       'has_student_cnt', 'belongs_to_class_cnt', 'has_class_cnt'],
      dtype='object')
The length of log is 72758
###########################################
Number of unique values in uuid: 72758
Number of unique values in gender: 3
Number of unique values in points: 42738
Number of unique values in badges_cnt: 235
Number of unique values in first_login_date_TW: 365
Number of unique values in user_grade: 12
Number of unique values in user_city: 20
Number of unique values in has_teacher_cnt: 53
Number of unique values in is_self_coach: 2
Number of unique values in has_student_cnt: 95
Number of unique values in belongs_to_class_cnt: 58
Number of unique values in has_class_cnt: 15
None

,uuid,gender,points,badges_cnt,first_login_date_TW,user_grade,user_city,has_teacher_cnt,is_self_coach,has_student_cnt,belongs_to_class_cnt,has_class_cnt
0,Y2RcCdmUJAYPUAIDElo4nE9KrkLLFzUIRdexG+ipaZQ=,NaN,18300,1,2019-01-24,1,kh,0,False,0,0,0
1,lw/Rchfvl9q1UDaQRmeE6QJDJeXAK7nt56RvUvqxD/8=,NaN,6468,0,2019-01-24,1,ntpc,1,False,0,1,0
2,ncVYyCw3osV77X9M+4NbI7LvBR5UiB4ix6Ca+baQArA=,male,4703,0,2019-01-24,1,tp,0,False,0,0,0
3,J7Tbo1x2WtRpPuXeX7lWT9tkzWlSJeubl8UWjNmHh+4=,NaN,15525,1,2019-01-24,2,ntpc,0,False,0,0,0
4,qijKzROzz1LmCaCxHJ3mOBOtjW/q4kW80tnpPmXHVYQ=,NaN,7945,0,2019-01-24,2,km,1,False,0,1,0

In [5]:
original_log.head()

,timestamp_TW,uuid,ucid,upid,problem_number,exercise_problem_repeat_session,is_correct,total_sec_taken,total_attempt_cnt,used_hint_cnt,is_hint_used,is_downgrade,is_upgrade,level
0,2019-05-26 21:00:00 UTC,FLy+lviglNR5Y1l0Xiijnl6QHySBcpKHJLCtQ6ogm2Q=,KDOmuTrY/IJzDP4kIgIYCBiGyTymsJ8Iy4cDB35WGYg=,Vbs92l4JmdiWkUEm/iahxnUTaac2oN1IlUtXB7JcfoE=,18,2,True,33,1,0,False,False,True,3
1,2019-05-17 16:30:00 UTC,+Gqj2nalc6M9fusyVECTC0AN7UQdDQTXESIuElkDltU=,COZ39Wo+uIUO2s7c2VGEHjJf6Vx0xifxVAiaeHtaTdk=,Ek+pIeHNNoEo0tGEq91eBcBmGgy3+A5RWhpj95zTyHM=,4,1,True,8,1,0,False,NaN,NaN,0
2,2019-05-15 19:15:00 UTC,6D5QN8j8ng/VR74ES3A0zqAj0bIFFyaKjKEj8ZyXjQ8=,TwyqyV1uJYlDAX8wX/PtTCVZEBo/APIVfTzzleGkNCQ=,1MBa2f5Qog4JBoAuUfJf0fxeJctdEirAqKgfsg246eI=,9,1,True,17,1,0,False,NaN,NaN,0
3,2019-05-05 14:45:00 UTC,GgTZuCqZXObthtK6GAwqvlHrTMm5pKHWeezQxL/pcKc=,tBo6ECyT8IlKAM8UhQHWkqv92PRLcSiwuerfC7vNX+w=,kdMy2nG+QVMjPkuaMEWs0yV/sYZVoG1vm7zM0fCy+qk=,2,1,True,10,1,0,False,NaN,NaN,0
4,2019-05-14 16:45:00 UTC,JMNKWoU0CkMSzgQ8bCnmCYlD8jEzAVge3lHMYLXKM2g=,vVpSKAMQbTMvtdERR0ksOeRmmaFt0R210t4Z//0RpPA=,jjPR8fmkLSFoCQQYB4g6kI8mgdcK3sKtMirKUvfmZIk=,6,1,True,98,1,0,False,NaN,NaN,0

In [7]:
log = original_log
print('The columns of log are ', log.columns)
print('The length of log is {}'.format(len(log)))

print('###########################################')

print(count_unique(log, log.columns))

The columns of log are  Index(['timestamp_TW', 'uuid', 'ucid', 'upid', 'problem_number',
       'exercise_problem_repeat_session', 'is_correct', 'total_sec_taken',
       'total_attempt_cnt', 'used_hint_cnt', 'is_hint_used', 'is_downgrade',
       'is_upgrade', 'level'],
      dtype='object')
The length of log is 16217311
###########################################
Number of unique values in timestamp_TW: 30507
Number of unique values in uuid: 72758
Number of unique values in ucid: 1326
Number of unique values in upid: 25785
Number of unique values in problem_number: 1702
Number of unique values in exercise_problem_repeat_session: 119
Number of unique values in is_correct: 2
Number of unique values in total_sec_taken: 1801
Number of unique values in total_attempt_cnt: 403
Number of unique values in used_hint_cnt: 47
Number of unique values in is_hint_used: 2
Number of unique values in is_downgrade: 2
Number of unique values in is_upgrade: 2
Number of unique values in level: 5
None

In [12]:
log['is_correct'].mean()

0.7037269002240877

# 2.

In [20]:
interested_col = [
    'timestamp_TW', 'uuid', 'ucid', 'upid', 'is_correct', 'total_sec_taken', 
]
invert_col = [
    'timestamp', 'user_uuid', 'skill_ucid', 'problem_id', 'correct', 'dwell_time', 
]

skill_index = 'ucid'
user_index = 'uuid'

remove_thres = [50, 100, 150, 200]

In [ ]:
'2019-05-26 21:00:00 UTC'

In [24]:
log = original_log
for thres in remove_thres:
    print(f'Remove threshold is {thres}')

    # log = log[~log[skill_index.isna()]]
    log = remove_log(log, user_index, num=thres)

    # Create new DataFrame with desired columns
    df = log[interested_col].copy()
    df.columns = invert_col
    
    # Convert timestamp columns to a single timestamp value
    time_format = "%Y-%m-%d %H:%M:%S UTC"
    df['timestamp'] = pd.to_datetime(df['timestamp'], format=time_format).apply(lambda x: x.timestamp())
    # end_times = pd.to_datetime(log.end_time, format=time_format).apply(lambda x: x.timestamp())
    
    skill_dict = dict(zip(content.ucid, content.content_pretty_name))
    df['skill_text'] = df['skill_ucid'].apply(lambda x: skill_dict[x])
    df['skill_id'] = pd.Categorical(df['skill_ucid'], categories=df['skill_ucid'].unique()).codes
    df['problem_id'] = pd.Categorical(df['problem_id'], categories=df['problem_id'].unique()).codes
    df['user_id'] = pd.Categorical(df['user_uuid'], categories=df['user_uuid'].unique()).codes
    df = df.astype({'timestamp': np.float64, 'correct': np.float64})
    df = df.astype({'user_id': np.int64, 'skill_id': np.int64})
    
    # Save cleaned DataFrame to a CSV file
    df.to_csv(f'/mnt/qb/work/mlcolab/hzhou52/kt/junyi20/multi_skill/interactions_{thres}.csv', sep='\t', index=False)

    print(f'Remove threshold {thres} is done!')
    print(count_unique(df, df.columns.tolist()))
    print(f'Length of DataFrame: {len(df)}')

Remove threshold is 50
Remove threshold 50 is done!
Number of unique values in timestamp: 30241
Number of unique values in user_uuid: 39180
Number of unique values in skill_ucid: 1326
Number of unique values in problem_id: 25746
Number of unique values in correct: 2
Number of unique values in dwell_time: 1801
Number of unique values in skill_text: 1316
Number of unique values in skill_id: 1326
Number of unique values in user_id: 39180
None
Length of DataFrame: 15601354
Remove threshold is 100
Remove threshold 100 is done!
Number of unique values in timestamp: 30074
Number of unique values in user_uuid: 28737
Number of unique values in skill_ucid: 1326
Number of unique values in problem_id: 25707
Number of unique values in correct: 2
Number of unique values in dwell_time: 1801
Number of unique values in skill_text: 1316
Number of unique values in skill_id: 1326
Number of unique values in user_id: 28737
None
Length of DataFrame: 14855626
Remove threshold is 150
Remove threshold 150 is done!
Number of unique values in timestamp: 29923
Number of unique values in user_uuid: 23137
Number of unique values in skill_ucid: 1326
Number of unique values in problem_id: 25639
Number of unique values in correct: 2
Number of unique values in dwell_time: 1801
Number of unique values in skill_text: 1316
Number of unique values in skill_id: 1326
Number of unique values in user_id: 23137
None
Length of DataFrame: 14168417
Remove threshold is 200
Remove threshold 200 is done!
Number of unique values in timestamp: 29753
Number of unique values in user_uuid: 19250
Number of unique values in skill_ucid: 1326
Number of unique values in problem_id: 25578
Number of unique values in correct: 2
Number of unique values in dwell_time: 1801
Number of unique values in skill_text: 1316
Number of unique values in skill_id: 1326
Number of unique values in user_id: 19250
None
Length of DataFrame: 13493895

In [26]:
df.correct.mean()

0.6983408422846035

# 3.

In [27]:
remove_thres = [50, 100, 150, 200]

log = original_log

users = []
users_log = log.groupby([user_index, skill_index]).size().reset_index(name='count')

for thres in remove_thres:
    users.append(users_log[users_log['count']>thres])

In [ ]:
######################################## single_user_single_exercise
from tqdm import tqdm
log = original_log
useful_log = log[interested_col]
remove_thres = [50, 100, 150, 200]

users_logs_threshold = []
for i in range(len(remove_thres)):
    thres = remove_thres[i]
    users_with_threshold = users[i]
    
    single_skill = {col: [] for col in interested_col}

    sk_dfs = []
    print('With threshold {} there are {} logs'.format(thres, len(users_with_threshold)))
    for j in tqdm(range(len(users_with_threshold))):
        id = users_with_threshold[user_index].iloc[j]
        ex = users_with_threshold[skill_index].iloc[j]

        single_user_exercise = useful_log.loc[(useful_log[user_index] == id) & (useful_log[skill_index] == ex)]
        single_user_exercise = single_user_exercise.sort_values('timestamp_TW')[:thres]

        sk_dfs.append(single_user_exercise)
    users_logs_threshold.append(sk_dfs)

With threshold 50 there are 13399 logs

  8%|▊         | 1101/13399 [31:04<5:50:36,  1.71s/it]